.population-chart-container {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.buttons-container {
    margin-bottom: 20px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.current-graph-label {
    font-weight: bold;
    margin: 20px 0;
    display: inline-block;
}

.chart-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.chart-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}